<% include hf/header %>
<h1 class="text-center">Edit Comment</h1>
<div style="width: 30%;margin: 0 auto;">
    <form action="/post/<%=post_id%>/comment/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
        </div>
        <button class="btn btn-success">Edit</button>
    </form>
</div>
<% include hf/footer %>